body {
  background-color: #ccc;
}

.board {
  margin: 0 auto;
  margin-top: 100px;
  width: 300px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  border: 2px solid steelblue;
}

.cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: seashell;
  border: 2px solid steelblue;
}

.first-player {
  background-color: black;
}

.second-player {
  background-color: brown;
}

.legend > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
